name: daraz-tek
services:
  mattermost:
    image: mattermost/mattermost-team-edition:11.1@sha256:4862f28825a7d5d4624d48493061587344605a14f060d9b0cf0b189d896efe9e
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    pids_limit: 200
    tmpfs:
      - /tmp
    ports:
      - "8065:8065"
    volumes:
      - mattermost_data:/mattermost
    environment:
      TZ: Asia/Tokyo
      MM_LOCALIZATIONSETTINGS_DEFAULTCLIENTLOCALE: ja
      MM_BLEVESETTINGS_INDEXDIR: /mattermost/bleve-indexes
      MM_SERVICESETTINGS_SITEURL: https://daraz-tek.beta.fogtype.com
      MM_SQLSETTINGS_DRIVERNAME: postgres
      MM_SQLSETTINGS_DATASOURCE: postgres://postgres:${POSTGRES_PASSWORD:?}@postgres:5432/postgres?sslmode=disable&connect_timeout=10
      MM_TEAMSETTINGS_MAXUSERSPERTEAM: "100"
    depends_on:
      - postgres
  postgres:
    image: postgres:18-alpine@sha256:154ea39af68ff30dec041cd1f1b5600009993724c811dbadde54126eb10bedd1
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    pids_limit: 100
    read_only: true
    tmpfs:
      - /tmp
      - /var/run/postgresql
    volumes:
      - postgres_data_v17:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD
volumes:
  mattermost_data:
  postgres_data_v17:
