name: daraz-tek
services:
  mattermost:
    image: mattermost/mattermost-team-edition:11.2@sha256:7fa7fa5ed40839705893ae7713ae8f418e69a36942386d7569983f27fee73e61
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    pids_limit: 200
    tmpfs:
      - /tmp
    ports:
      - "8065:8065"
    volumes:
      - mattermost_data:/mattermost
    environment:
      TZ: Asia/Tokyo
      MM_LOCALIZATIONSETTINGS_DEFAULTCLIENTLOCALE: ja
      MM_BLEVESETTINGS_INDEXDIR: /mattermost/bleve-indexes
      MM_SERVICESETTINGS_SITEURL: https://daraz-tek.beta.fogtype.com
      MM_SQLSETTINGS_DRIVERNAME: postgres
      MM_SQLSETTINGS_DATASOURCE: postgres://postgres:${POSTGRES_PASSWORD:?}@postgres:5432/postgres?sslmode=disable&connect_timeout=10
      MM_TEAMSETTINGS_MAXUSERSPERTEAM: "100"
    depends_on:
      - postgres
  postgres:
    image: postgres:18-alpine@sha256:b40d931bd0e7ce6eecc59a5a6ac3b3c04a01e559750e73e7086b6dbd7f8bf545
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    pids_limit: 100
    read_only: true
    tmpfs:
      - /tmp
      - /var/run/postgresql
    volumes:
      - postgres_data_v17:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD
volumes:
  mattermost_data:
  postgres_data_v17:
